/*-----Universal Styles-----*/

html    {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/*.main-content   {
    position: relative;
    top: 6rem;
}*/

body    {
    margin: 0rem;
    justify-content: center;
}



/*-----Nav Bar-----*/

nav {
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    top: 1.4rem;
    background-color:   dimgray;
    background: rgba(0, 0, 0, .8);
    justify-content: end;
}

nav img {
    display: inline-flex;
    position:   fixed;
    top: 0.5rem;
    left: 0.5rem;
    height: 90px;
}

#links   {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
}

#links  a   {
    margin: 1rem;
    color: white;
    text-decoration: none;
}



/*-----Introduction-----*/

header  .video-container  {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

header  iframe  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

#video-cover  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.3;
}

body .titulo {
    display: inline-flex;
    position: sticky;
    top: 2rem;
    z-index: 2;
    color: white;
}

.intro  {
    padding: 10rem 15rem 10rem 15rem;
}

.intro  .logo   {
    display: flex;
    position: relative;
    margin: 5rem auto 5rem auto;
    height: 30rem;
    opacity: .03;
    top: -24rem;
    z-index: -1;
}

/*-----Gallery-----*/

/*-----Staff-----*/

/*-----Footer-----*/